.chatbar {
  bottom: 0;
  display: flex;
  padding: 5px;
  position: fixed;
  width: 100%;
}

.chatbar-message,
.chatbar-username {
  margin: 5px;
  background-color: #8392a2;

}

.chatbar-message {
  border-left: none;
  border-right: none;
  border-top: none;
  text-align: left;
}

.chatbar-username {
  border:none;
}