.chatbar {
  background: tomato;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  padding: 5px;
  position: fixed;
  width: 100%;
}

.chatbar-message,
.chatbar-username {
  display: block;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}