.chatbar {
  bottom: 10px;
  position: absolute;
}

.chatbar-message,
.chatbar-username {
  margin: 5px;
}

.chatbar-message {
  border: none;
  border-bottom: 1px solid;
  text-align: left;
  width: 60%;
  padding: 5px;
  background-color: #F7F7F7;
}

input:focus {
  outline: none;
}

.chatbar-username {
  border: none;
  background-color: #F7F7F7;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 30px;
  width: 30%;
  cursor: pointer;
}