.message {
  display: flex;
  padding: 5px;
}

.chat-container .message-container:nth-of-type(even) {
  padding: 10px 25px 10px 25px;
}

.chat-container .message-container:nth-child(odd) {
  padding: 10px 25px 10px 25px;
  background-color: white;
}

.message.system {
  font-style: italic;
  padding: 15px;
  justify-content: center;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}
