.request-control {
  background-color: #EBECEE;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.request{
  background: #438FC4;
  border: none;
  color: white;
  padding: 15px;
  cursor: pointer;
  text-transform: uppercase;
  width: 400px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  &:hover {
    background: #006494;
  }
}

#request-logo{
  height: 15px;
}

.queue-container {
  background-color: #EBECEE;
  padding: 20px 0 36px 35px;
  width: 400px;
}

.queue-list {
  overflow: scroll;
  border-radius: 5px;
}

.users-item {
  background: rgba(255,255,255,0.3);
  padding: 10px;
}

// .users-item:hover,
.users-item.active {
  background: rgba(255,255,255,0.8);
  border-left: 10px solid #E98036;
}

.users-name{
  padding-right: 50px;
  padding-left: 20px;
}

.queue-heading{
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

