.request-control {
  background-color: #3D3C49;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.queue-container {
  padding: 10px;
}

.queue-list {
  overflow: scroll;
}

.users-item {
  background: rgb(216,216,216);
  border-left: 10px solid rgba(0,0,0,0.2);
  padding: 10px;
}

.users-item:hover,
.users-item.active {
  background: rgb(180,180,180);
}

.users-name{
  padding-right: 50px;
  padding-left: 20px;
}

.request{
  background: black;
  color: white;
  padding: 15px;
  cursor: pointer;
  text-transform: uppercase;
  width: 400px;
  font-weight: bold;
}

#request-logo{
  height: 20px;
}

.queue-heading{
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
}

