.request-control {
  background-color: #3D3C49;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

.chat-container {
  position: fixed;
  bottom: 0;
  height: 50%;
}

